.content {
    grid-area: content;
    background-color: yellowgreen;

    display: grid;

    grid-template-areas:
  "search-bar"
  "content";
}

.content div {
    border: 1px solid #fff;
    padding: 20px;
    margin: 0;
}




